@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fullscreen-bg {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

@keyframes swing-slow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-swing-slow {
  animation: swing-slow 6s ease-in-out infinite;
  transform-origin: top center;
}


@keyframes twinkle {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite alternate;
}


@keyframes drift {
  0%, 100% {
    transform: translate(-50%, -10px);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}

.animate-drift {
  animation: drift 6s ease-in-out infinite;
}
